body{

	background-image: url(sonicfeet.jpg) ;
	border-style: groove;
	border-color: darkblue;
	border-width: 20px;
}


h1
{
	text-align: center;
	text-decoration: underline;
	color: lightpink;
}

<style>
  body{
  margin: 0;
  padding: 0;
}
  
div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   @keyframes animate
   0%
     opacity: 0;
   }
   50%{
     opacity: 0.7;
   }
   100%{
     opacity: 0;
}
   
 h1{
   font-size: 5em;
   font-family: "Comic Sans MS", "Comic Sans", cursive;
   color:yellow;
   text-align: center;
   animation: animate 0.1s linear infinite;
 } 



 #tamere
 {
 	 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
  
 @keyframes animate{
   0%{
     opacity: 0;
   }
   50%{
     opacity: 0.7;
   }
   100%{
     opacity: 0;
   }
 }
</style>