body {
     background-image: url(mouche-1.jpg)  ;
     background-size: 100vw;
     border-style: dotted; 
  background-repeat: repeat;
  
  
}

#his

{ 
border-style: solid; color: whitesmoke;
border-width: 20%;
text-align: center;
 }

 #txtor

 {
     background-size: 80%;
     background-color: white;
      box-sizing: border-box;
 }

